################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MongoDBService/.vs/MongoDBService
/MongoDBService/bin/Debug/netcoreapp3.0
/MongoDBService/obj
